{% extends "base.html" %}

{% block content %}
    <div class="d-flex mb-3">
        <h3 class="me-3">{{ plan.name }}</h3>
        <a href="{{ url_for('plans.edit', plan_id=plan.id) }}" class="btn btn-primary">Edit</a>
    </div>
	<div class="row">
        <div class="col-md-9" style="height: 600px;">
            {% include "calendar.html" %}
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                {% for plan in plans %}
                    <button type="button" class="btn btn-light list-group-item">{{ plan.name }}</button>
                {% endfor %}
                <a href="/plans/create" class="btn btn-primary">Create new</a>
            </ul>
        </div>
    </div>
{% endblock %}